<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Про нас</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'links/styles.css' %}">
</head>
<body>
    {% include 'links/header.html' %}  <!-- Включаем шапку -->

    <div class="container">
        <h1>Про нас</h1>
        <p>Добро пожаловать на наш сайт! Здесь вы можете сокращать ссылки, делиться ими и управлять своими сокращенными ссылками. Мы стремимся сделать процесс обмена ссылками простым и удобным.</p>
        <p>Наша цель - помочь вам легко управлять вашими ссылками и делиться ими с друзьями и коллегами. Спасибо, что выбрали наш сервис!</p>
    </div>
</body>
</html>