<header>
<nav>
    <ul class="menu">
        <li><a href="http://127.0.0.1:8000/">Главная</a></li>
        <li><a href="http://127.0.0.1:8000/about/">Про нас</a></li>
        {% if user.is_authenticated %}
            <li><a href="http://127.0.0.1:8000/dashboard/">Личный кабинет</a></li>
        {% else %}
            <li><a href="http://127.0.0.1:8000/login/">Войти</a></li>
        {% endif %}
        
        {% if user.is_authenticated %}
            <li><a href="http://127.0.0.1:8000/shorten/">Ссылки</a></li>
        {% else %}
            <li><a href="http://127.0.0.1:8000/register/">Регистрация</a></li>
        {% endif %}
    </ul>
</nav>
</header>