<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'links/styles.css' %}">
</head>
<body>
    {% include 'links/header.html' %}  <!-- Включаем шапку -->

    <div class="container">
        <h1>Сокра.тим</h1>
        <h2>Добро пожаловать на наш сайт!</h2>

        {% if user.is_authenticated %}
            <p>Вы авторизованы. Перейдите в <a href="{% url 'dashboard' %}">Личный кабинет</a>.</p>
        {% else %}
            <p>Пожалуйста, <a href="http://127.0.0.1:8000/login/">войдите</a> или <a href="http://127.0.0.1:8000/register/">зарегистрируйтесь</a>.</p>
        {% endif %}
    </div>
</body>
</html>