* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none
}

.m-plus-1p-regular {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: "M PLUS 1p", sans-serif;
    font-size: 16px;
    background-color: white;
    color: black;
}

header {
    background-color: #F8F8F8;
    width: 100%;
    height: 90px;
    padding: 10px 0;
    float: left;
}

header .all-header {
    width: 60%;
    margin: 0 20%;

}

header .all-header .lang {
    text-align: right;
    width: 100%;
}

header .all-header .lang a {
    font-size: 14px;
    color: #C4C4C4;
}

header .all-header .lang a.active,
header .all-header .lang a:hover {
    color: black;
    border-bottom: 2px solid black;
}

header .all-header .header-main a:hover {
    color: #ccc;
}

header .all-header .header-main {
    width: 100%;
    margin-top: 5px;
}

#logo {
    float: left;
}

#search {
    float: left;
    margin-left: 100px;
    border: 0px;
    background-color: #ECECEC;
    width: 360px;
    height: 44px;
    text-indent: 20px;
    outline: none;
}

header .all-header .header-main a {
    float: left;
    color: black;
    font-weight: 900;
    margin-left: 100px;
    margin-top: 10px;
}

header .all-header .header-main .button {
    cursor: pointer;
    float: right;
    margin-left: 20px;
    width: 86px;
    height: 40px;
    font-weight: 900;
    border: 2px solid black;
    text-align: center;
    line-height: 40px;
}

header .all-header .header-main .button.reg {width: 140px;}

header .all-header .header-main .button.reg,
header .all-header .header-main .button.ent:hover {
    color: white;
    background-color: black;
}

header .all-header .header-main .button.reg:hover {
    color: black;
    background-color: white;
}

/* Основная часть сайта */

main {
    float: left;
    width: 100%;
}

main .section {
    float: left;
    width: 60%;
    margin: 50px 20%;
}

main .section h3 {
    font-size: 24px;
}

main .section h3 span{
    height: 2px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 40px;
    margin-bottom: 7px;
    width: 30px;
    background-color: #000;
}

main .section .img-block {
    width: 25%;
    margin: 20px 0px;
    float: left;
}

main .section .img-block:not(:last-of-type) {
    margin-right: 12.5%;
}

main .section .img-block h4 {
    margin-top: 10px;
}

main .section .img-block p {
    font-size: 14px;
    font-weight: 300;
}

main .section .img-block img {width: 100%;}
